*.env
*config.json
.env
!tsconfig.json

build/

.dockerignore
Dockerfile

node_modules/
package-lock.json
yarn.lock
yarn-error.log

/locales/*
!/locales/pt-BR

data/commands.json
json.sqlite

logs/*

prisma/migrations/