# Tralhas do node né
/node_modules
/package-lock.json
/src/lib/node_modules
/src/lib/package-lock.json

# Config Files
/src/config/config.js
/.env
/config.yml

# Data
/src/data/*.json
!/src/data/profile.json

# Arquivos temporarios
/AdvCommand.js
/reload.js

# Locales
/src/locales/*
!/src/locales/pt-BR
